<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Scan Image</title>
    <link rel="icon" href="{{ url_for('static', filename='image/logo.svg') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css')}}">
  </head>
  <body class="min-h-screen bg-gradient-to-br from-indigo-100 to-gray-50 py-10 flex items-center justify-center font-inter">
    <div class="flex flex-col w-full max-w-[700px] mx-auto bg-white shadow-xl rounded-2xl p-8">
      <div class="text-center select-none mb-6">
        <h3 class="font-bold text-3xl text-slate-800 flex items-center justify-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z" />
          </svg>Scan Image
        </h3>
      </div>
      <div class="flex flex-col gap-4 bg-white rounded-xl shadow-xl p-6">
        <form action="/" method="post" enctype="multipart/form-data" class="flex flex-col gap-4">
          <div id="dropZone" class="relative text-center p-10 rounded-xl border border-gray-200 cursor-pointer bg-gradient-to-tl from-indigo-100 to-gray-100 transition">
            <img src="/static/image/undraw_image-upload_7b3b.svg" alt="svg" class="h-24 w-24 mx-auto select-none">
            <p class="text-gray-600 select-none">Drag & drop images here or click to select</p>
            <p class="text-gray-500 text-sm select-none">(Max size 1Mb)</p>
            <input type="file" id="fileInput" name="image" accept="image/*" required class="absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer z-5" />
            <input type="text" id="hiddenPasteInput" autocomplete="off" class="absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer z-10"/>
          </div>
          <div id="previewContainer" class="text-center"></div>
          <div class="grid grid-cols-2 gap-3">
            <button type="submit" id="uploadBtn" class="rounded-lg text-white shadow-lg shadow-blue-500/50 bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5 flex items-center justify-center gap-1 hover:bg-blue-700 transition select-none" data-has-uploaded="{{ '1' if uploaded_file else '0' }}">
              <span class="flex items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m0-3-3-3m0 0-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75" />
                </svg>Upload
              </span>
            </button>
          </form>
          <form action="/" method="post">
            <button name="clear" type="submit" id="clearBtn" class="w-full rounded-lg text-white shadow-lg shadow-red-500/50 bg-gradient-to-r from-red-500 via-red-600 to-red-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5 flex justify-center items-center hover:bg-red-700 transition select-none gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
              </svg>Clear
            </button>
          </form>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert mb-3 p-4 rounded-lg border fade show transition-all flex items-start justify-between gap-4
        {% if category == 'success' %} bg-green-50 border-green-400 text-green-800 {% endif %}
        {% if category == 'error' %} bg-red-50 border-red-400 text-red-800 {% endif %}
        {% if category == 'warning' %} bg-yellow-50 border-yellow-400 text-yellow-800 {% endif %}
        {% if category == 'info' %} bg-blue-50 border-blue-400 text-blue-800 {% endif %}">
        <span>{{ message }}</span>
        <button class="text-gray-600 hover:text-black" onclick="this.parentElement.remove()">✕</button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    <div id="conmodal" class="fixed inset-0 bg-black/50 flex items-center justify-center opacity-0 invisible transition-opacity duration-500">
      <div id="modalbox" class="bg-white w-full max-w-3xl rounded-xl shadow-xl transform scale-95 opacity-0 transition-all duration-500">
        <div class="flex justify-between items-center p-4 border-b border-gray-200">
          <h2 class="text-xl font-semibold">Hasil Scan</h2>
          <form id="clearForm" action="/" method="post" class="m-0 p-0">
            <button type="submit" id="btn-close" class="text-gray-500 hover:text-black text-2xl font-bold leading-none cursor-pointer">&times;</button>
          </form>
        </div>
        <div class="p-4 space-y-4">
          {% if uploaded_file %}
          <div class="w-full">
            <div class="grid grid-cols-2 mb-3 gap-4">
              <div class="relative flex items-center select-none overflow-hidden">
                <img id="uploadedImage" class="max-w-full block pointer-events-none select-none" draggable="false" src="data:{{ mime_type }};base64,{{ uploaded_file }}" alt="Uploaded"/>
                <div class="absolute top-0 left-0 w-full h-full pointer-events-none" id="ocrLayer">
                  {% for item in ocr_data %}
                  <span>&nbsp;</span>
                  {% endfor %}
                </div>
              </div>
              <div class="relative flex flex-col items-start w-full">
                <label for="ocrResult" class="block text-sm font-medium text-gray-700 mb-1">Result:</label>
                <div class="relative w-full">
                  <textarea id="ocrResult" rows="15" readonly class="custom-scroll w-full p-2 pr-12 border border-gray-300 rounded-md text-gray-700 bg-gray-100">{{ full_text }}</textarea>
                  <div class="group">
                    <button id="btn-copy" data-copy-to-clipboard-content-type="textContent" class="absolute end-2 top-2 text-body hover:bg-neutral-200 hover:text-heading rounded-lg delay-300 transition-all p-2 inline-flex items-center justify-center">
                      <span id="default-icon-contact-details">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-6 5h6m-6 4h6M10 3v4h4V3h-4Z"/></svg>
                      </span>
                      <span id="success-icon-contact-details" class="hidden">
                        <svg class="w-4 h-4 text-fg-brand" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-6 7 2 2 4-4m-5-9v4h4V3h-4Z"/></svg>
                      </span>
                    </button>
                    <div class="absolute -top-10 right-1.5 z-10 px-3 py-2 text-sm font-medium text-white bg-gray-800 rounded-lg shadow-lg opacity-0 invisible transition-all duration-300 group-hover:opacity-100 group-hover:visible">
                      <span id="default-tooltip-message-contact-details">Copy to clipboard</span>
                      <span id="success-tooltip-message-contact-details" class="hidden">Copied!</span>  
                      <div class="absolute right-3 -bottom-2 w-0 h-0 border-l-6 border-r-6 border-t-6 border-l-transparent border-r-transparent border-t-gray-800"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="fullscreenLoaded" class="fixed inset-0 bg-gray-100/50 backdrop-blur-sm z-50 flex justify-center items-center flex-col transition-opacity duration-300 ease-in-out cursor-progress">
      <div role="status">
        <svg aria-hidden="true" class="w-8 h-8 text-gray-300 animate-spin fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 50.59C100 78.20 77.61 100.59 50 100.59C22.38 100.59 0 78.20 0 50.59C0 22.97 22.38 0.59 50 0.59C77.61 0.59 100 22.97 100 50.59ZM9.08 50.59C9.08 73.18 27.40 91.50 50 91.50C72.59 91.50 90.91 73.18 90.91 50.59C90.91 27.99 72.59 9.67 50 9.67C27.40 9.67 9.08 27.99 9.08 50.59Z" fill="currentColor" />
          <path d="M93.96 39.04C96.39 38.40 97.86 35.91 97.00 33.55C95.29 28.82 92.87 24.36 89.81 20.34C85.84 15.11 80.88 10.72 75.21 7.41C69.54 4.10 63.27 1.94 56.76 1.05C51.76 0.36 46.69 0.44 41.73 1.27C39.26 1.69 37.81 4.19 38.45 6.62C39.08 9.04 41.56 10.47 44.05 10.10C47.85 9.54 51.71 9.52 55.54 10.04C60.86 10.77 65.99 12.54 70.63 15.25C75.27 17.96 79.33 21.56 82.58 25.84C84.91 28.91 86.79 32.29 88.18 35.87C89.08 38.21 91.54 39.67 93.96 39.04Z" fill="currentFill" />
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
      <p class="load mt-1 text-gray-700 text-sm">Loading...</p>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
  <script>const uploaded_file = {{ 'true' if uploaded_file else 'false'}};</script>
</body>
</html>